<div class="addre">
    <ul>
        <li><h2>Mada-Weather</h2></li>
        <li>201 Rue Valia, Antsiranana, Madagascar</li>
        <li>contact@mada-weather.com</li>
        <li>+261 32 97 728 54</li>
    </ul>
</div>
<div class="socia">
  <ul>
   <li> <a href="https://www.facebook.com/figuelia.yasin.9"><i class="fa-brands fa-facebook"></i></a></li>
   <li><a href="https://www.facebook.com/figuelia.yasin.9"><i class="fa-brands fa-youtube"></i></a></li>
   <li> <a href="https://www.facebook.com/figuelia.yasin.9"><i class="fa-brands fa-linkedin"></i></a></li>

  </ul>
</div>
<div class="modif">
   <ul>
       <li>WDD330 Class Project</li>
       <li>Figuelia Ya'Sin</li>
       <li><p>Copyright &copy; <span id="currentyear"></span> Mada-Weather </p></li>
       <li> <p id="lastModified"></p></li>
   </ul>
</div>
