<div class="logotitle">
    <img src="\images\logos\logo.png" alt="logo">
    <h1>Mada-Weather</h1>
</div>
<input type="checkbox" id="burger-toggle">
<label for="burger-toggle" class="burger-container">
<span class="burger-line"></span>
<span class="burger-line"></span>
<span class="burger-line"></span>
</label>
<nav class="nav-menu">
    <ul>
        <li>
            <a href="\">Home</a>
          
        </li>
     
        <li>
            <a href="\public\about\?page=about">About</a>
        </li>
        <li>
            
            <a href="\public\blog\?page=blog">Blog</a>
        </li>
         <li>
            <button class="mode" disabled><i class="fa-solid fa-circle-half-stroke"></i></button>
         </li>
    </ul>
</nav>